@charset "utf-8";

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
background:transparent;
}

table {
border-collapse:collapse;
border-spacing:0;
}
/* END OF RESET */

/* GENERAL */
body {
	font-family: helvetica, Arial, sans-serif-light;
	color:#000;
}
.page-container {
	width:1024px;
	height:568px;
}
.float-left {
	float:left;	
}
.float-right{
	float:left;	
}
.clear {
	clear:both;	
}
.back-fade {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #E2E2E2),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #E2E2E2 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #E2E2E2 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #E2E2E2 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #E2E2E2 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #E2E2E2 0%, #FFFFFF 100%);
}
h1 {
	font-size:63px;
	line-height:122px;
	margin-left:55px;
	font-weight:bold;
}
.white {
	color:#fff;
}
.center {
	text-align:center;
}
.mac-content {
	height:357px;
	width:628px;
	position:absolute;
	top:165px;
	left:186px;
}
.bottom-center {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
}

/* END GENERAL */

/* INTRO PAGE */
.intro-back {
	background-color:#E91D24;
}
.blue-bar {
	background-color:#218DCD;
}
.white-body {
	background-color:#fff;
	height:388px;
}
.agent-box {
	line-height:30px;
	font-size:26px;
	text-align:center;
	width:366px;
	float:left;
	margin:33px 0 0 33px;

}
.agent-name {
	font-size:30px;
	font-weight:bold;
	margin:4px;
}
.thanks {
	width:530px;
	text-align:center;
	margin-right:33px;
	float:left;
	margin-top:102px;
}
.logo {
	float:right;
	margin:12px 30px 0 0;
}
.relative {
	position:relative;
}
/* END INTRO PAGE */
